<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Coffee Tin</title>
        <link
            rel='stylesheet'
            href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
        />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='icon' href='/img/Coffee-Tin Icon.png' />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Raleway&display=swap'
            rel='stylesheet'
        />
    </head>
    <body>
        <header>
            <nav class='navbar has-shadow is-brand-gold'>
                <div class='navbar-brand'>
                    <a href='/'>
                        <img
                            src='/img/Coffee-Tin Logo.png'
                            alt='Coffee Tin logo with a graphic coffee tin that has money coming out of it'
                        />
                    </a>
                    <button class='navbar-burger' id='navbarBurger'>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div id='navbarMenu' class='navbar-menu'>
                    <div class='navbar-end'>
                        <a href='/' class='navbar-item'>Home</a>
                        <a href='/profile' class='navbar-item'>My Profile</a>
                        <a href='/create' class='navbar-item'>Create Project</a>
                        {{#if logged_in}}
                            <a id='logout' class='navbar-item'>Logout</a>
                        {{else}}
                            <a href='/login' class='navbar-item'>Login/Register
                                User</a>
                        {{/if}}

                    </div>
                </div>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer class='card-footer is-brand-gold' id='footer'>
            <div class='card-footer-item'>
                <figure class='image is-32x32'>
                    <img
                        src='/img/Coffee-Tin Icon.png'
                        alt='a graphic coffee tin with money coming out of it'
                    />
                </figure>
                <p>&nbspCreated my free logo at&nbsp</p>
                <a href='https://logomakr.com/'>LogoMakr.com</a>
            </div>
        </footer>

        <script src='/js/main.js'></script>
    </body>
</html>