<form>
    <h3>Project Name</h3>
    <input
    required
    id="projectName"
    placeholder="What's the project called?"
    />
    <h3>Project Details</h3>
    <input
    required
    id="projectDetails"
    placeholder="What's the project for/about?"
    />
    <h3>Project Funding Goal</h3>
    <input
    required
    type="number"
    id="projectGoal"
    placeholder="What's the funding goal?"
    />
    <h3>Project Funding Deadline</h3>
    <input
    required
    type="datetime"
    id="projectDeadline"
    placeholder="What deadline would you like to set?"
    />
    <h3>Project Funding Rewards</h3>
    <section id="projectRewards"></section>
    <input type="button" id="addReward" value="Add Reward" />
</form>

<script src="/coffee-tin/public/js/create.js"></script>