<article class='container'>
    <section class='pt-5'>
        <h3 class='title is-size-3'>Create New Project</h3>
        <hr />
        <form id='projectForm'>
            <div class='field'>
                <label for='projectName' class='label'>Project Name</label>
                <input
                    class='input'
                    type='text'
                    name='projectName'
                    id='projectName'
                    placeholder='Enter Project Name...'
                    required
                />
            </div>
            <div class='field'>
                <label for='projectDetails' class='label'>Details</label>
                <p class='control'>
                    <textarea
                        class='textarea'
                        name='projectDetails'
                        id='projectDetails'
                        placeholder="What's the project for/about?"
                        required
                    ></textarea>
                </p>
            </div>
            <div class='columns'>
                <div class='column'>
                    <div class='field'>
                        <label for='projectGoal' class='label'>Funding Goal</label>
                        <span class='input'>$
                            <input
                                class='input'
                                type='number'
                                name='projectGoal'
                                id='projectGoal'
                                placeholder="What's the funding goal?"
                                required
                            />
                        </span>
                    </div>
                    <div class='field'>
                        <label
                            for='projectDeadline'
                            class='label'
                        >Deadline</label>
                        <input
                            class='input'
                            type='date'
                            name='projectDeadline'
                            id='projectDeadline'
                            placeholder='What deadline would you like to set?'
                            required
                        />
                    </div>
                </div>
                <div class='column'>
                    <div class='field'>
                        <label for='rewardDescription' class='label'>Reward
                            Description</label>
                        <p class='control'>
                            <textarea
                                class='textarea'
                                name='rewardDescription'
                                id='rewardDescription'
                                placeholder="What's the reward?"
                            ></textarea>
                        </p>
                    </div>
                    <div class='field is-horizontal'>
                        <div class='field-label is-normal'>
                            <label for='rewardTier' class='label'>Reward Tier</label>
                        </div>
                        <div class='field-body'>
                            <div class='field'>
                                <p class='control'>
                                    <span class='select'>
                                        <select
                                            name='rewardTier'
                                            id='rewardTier'
                                            placeholder='Select Tier...'
                                        >
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='field'>
                <input class='button' id='create' type='submit' value='Create Project' />
            </div>
            <div
                class='notification is-success is-light hide'
                id='projectCreated'
            >
                <p class='has-text-weight-bold'>Project Created!</p>
                <p>Returning home...</p>
            </div>
        </form>
    </section>
</article>

<script src='/js/create.js'></script>