<form>
    <h3>Project Name</h3>
    <input
    required
    id="projectName"
    placeholder="What's the project called?"
    />
    <h3>Project Details</h3>
    <input
    required
    id="projectDetails"
    placeholder="What's the project for/about?"
    />
    <h3>Project Funding Goal</h3>
    <input
    required
    type="number"
    id="projectGoal"
    placeholder="What's the funding goal?"
    />
    <h3>Project Funding Deadline</h3>
    <input
    required
    type="datetime"
    id="projectDeadline"
    placeholder="What deadline would you like to set?"
    />
    <h3>Project Funding Incentives</h3>
    <section id="projectIncentives"></section>
    <input type="button" id="addIncentive" value="Add Incentive" />
</form>