<article>
    <h2 id="projectName"></h2>
    <section id="projectDetails">
        <div id="projectInfo"></div>
        <div id="projectCreator"></div>
        <div id="projectFunding"></div>
        <div id='projectDeadline'></div>
        <div id="projectRewards"></div>
    </section>
</article>