<section>
    <h4>Log In:</h4>
    <form>
        <input 
            type="email" 
            id="email" 
            name="email" 
            placeholder="Email" 
        />
        <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
        />
        <input type="submit" value="Log In" />
    </form>
</section>
<hr />
<section>
    <form>
        <h4>Register:</h4>
        <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
        />
        <input 
            type="email" 
            name="newEmail" 
            id="newEmail" 
            placeholder="Email" 
        />
        <input
            type="password"
            name="newPassword"
            id="newPassword"
            placeholder="Password"
        />
        <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="Confirm Password"
        />
        <input type="submit" value="Register User" />
    </form>
</section>