<article class='container pt-5'>
    <h2 class='title is-2'>{{name}}'s Projects</h2>
    {{#each projects as |project|}}
    {{> userProjects}}
    {{/each}}
</article>

<script src='/js/profile.js'></script