* {
    font-family: 'Raleway', sans-serif;
}

.hide {
    display: none;
}

.navbar,
.card-footer {
    background-color: #f6b64f;
}

@media only screen and (max-width: 1024px) {
    .navbar-menu {
        background-color: #fdc367;
    }
}

a.navbar-item:hover {
    background-color: #f8dbab;
}

main {
    background-color: #f8dbab;
    height: 100vh;
}

.message-header {
    background-color: #a10e12;
}

#iconExample {
    height: 35px;
}